body {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0;
}

#SAAD{
    display: flex;
    flex-direction: row;
    gap: 20px;
}

.cercle {
    width: 80px;
    height: 80px;
    border-radius: 50%;
}
